// base color
$blue: #324157;
$light-blue: #3a71a8;
$red: #c03639;
$pink: #e65d6e;
$green: #30b08f;
$tiffany: #4ab7bd;
$yellow: #fec171;
$panGreen: #30b08f;

// sidebar
$menuText: #fff;
$menuActiveText: #60c0c1;
$subMenuActiveText: #60c0c1; // https://github.com/ElemeFE/element/issues/12951

$menuBg: #000;
$menuHover: #3a71a8;

$subMenuBg: #46494d;
$subMenuHover: #3a71a8;

$sideBarWidth: 10.4vw;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
